.container {
    min-width:  800px;
    max-width:  1800px;
    height: 600px;
    background: #ccc;
    margin: 10px auto;
    /*padding: 10px;*/
}

.month{
    width:  200px;
    height: 200px;
    background: #c0a6a6;
    margin: 10px 10px;
    display: inline-block;
}

.month-title{
    width:  160px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 5px auto;
    background: red;   
}

.month-data{
    width:  auto;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    background: white;   
}

